<a href="https://colab.research.google.com/github/Nataliahfk/Telecom-X_-segundo-challenge/blob/main/Telecom_X_Clallenge_Latam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Telecom X - An谩lisis de Evasi贸n de Clientes**

La empresa enfrenta una alta tasa de cancelaciones y necesita comprender los factores que llevan a la p茅rdida de clientes.

El 谩nalisis contiene:

- Importaci贸n y manipulaci贸n de datos desde una API.
- Aplicaci贸n de los conceptos de ETL (Extracci贸n, Transformaci贸n y Carga) en la preparaci贸n de los datos.
- Creaci贸n de visualizaciones estrat茅gicas para identificar patrones y tendencias.
- An谩lisis Exploratorio de Datos (EDA) e informe con insights relevantes.

## Extracci贸n

In [203]:
import requests
import pandas as pd
import json
import numpy as np

#accediedo a la API

url = ('https://raw.githubusercontent.com/alura-cursos/challenge2-data-science-LATAM/refs/heads/main/TelecomX_Data.json')

# requests.get env铆a una solicitud HTTP GET a una URL espec铆fica.
respuesta = requests.get(url)
# Convierte la respuesta JSON (texto) a un objeto Python (dict o list).
data = respuesta.json()
# Creo el DataFrame
df = pd.DataFrame(data)
df

,customerID,Churn,customer,phone,internet,account
0,0002-ORFBO,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
1,0003-MKNFE,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
2,0004-TLHLJ,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
3,0011-IGKFF,Yes,"{'gender': 'Male', 'SeniorCitizen': 1, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
4,0013-EXCHZ,Yes,"{'gender': 'Female', 'SeniorCitizen': 1, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
...,...,...,...,...,...,...
7262,9987-LUTYD,No,"{'gender': 'Female', 'SeniorCitizen': 0, 'Part...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'One year', 'PaperlessBilling': '..."
7263,9992-RRAMN,Yes,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'Yes'}","{'InternetService': 'Fiber optic', 'OnlineSecu...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7264,9992-UJOEL,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Month-to-month', 'PaperlessBilli..."
7265,9993-LHIEB,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'Yes', 'MultipleLines': 'No'}","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."
7266,9995-HOTOH,No,"{'gender': 'Male', 'SeniorCitizen': 0, 'Partne...","{'PhoneService': 'No', 'MultipleLines': 'No ph...","{'InternetService': 'DSL', 'OnlineSecurity': '...","{'Contract': 'Two year', 'PaperlessBilling': '..."

In [204]:
# Esto lo puedo hacer cuando descargo el archivo y lo guardo en mi PC
#df_json = pd.read_json('TelecomX_Data.json')
#df_json

## Transformaci贸n

###**Normalizaci贸n DF**

In [205]:
df_normalizado = pd.json_normalize(data)
df_normalizado

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.OnlineBackup,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.9
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.7
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.6

###**Renombrando las columnas y revisi贸n**

In [206]:
# inplace=True  Modifica el DataFrame original en el lugar
df_normalizado.rename(columns={
 'customerID':'id_cliente',
 'Churn':'abandono',
 'customer.gender':'genero_cliente',
 'customer.SeniorCitizen':'cliente_senior',
 'customer.Partner':'tiene_pareja',
 'customer.Dependents':'dependientes',
 'customer.tenure': 'meses_en_empresa',
 'phone.PhoneService':'servicio_telefonico',
 'phone.MultipleLines':'lineas_multiples',
 'internet.InternetService':'servicio_internet',
 'internet.OnlineSecurity':'seguridad_online',
 'internet.OnlineBackup':'respaldo_online',
 'internet.DeviceProtection':'proteccion_dispositivo',
 'internet.TechSupport':'soporte_tecnico',
 'internet.StreamingTV':'tv_streaming',
 'internet.StreamingMovies':'peliculas_streaming',
 'account.Contract':'tipo_contrato',
 'account.PaperlessBilling':'factura_electronica',
 'account.PaymentMethod':'metodo_pago',
 'account.Charges.Monthly':'cargo_mensual',
 'account.Charges.Total':'cargo_total'
}, inplace=True)

df_normalizado.head()

,id_cliente,abandono,genero_cliente,cliente_senior,tiene_pareja,dependientes,meses_en_empresa,servicio_telefonico,lineas_multiples,servicio_internet,...,respaldo_online,proteccion_dispositivo,soporte_tecnico,tv_streaming,peliculas_streaming,tipo_contrato,factura_electronica,metodo_pago,cargo_mensual,cargo_total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.6,593.3
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.9,542.4
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.9,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.0,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.9,267.4

In [207]:
df_normalizado.columns

Index(['id_cliente', 'abandono', 'genero_cliente', 'cliente_senior',
       'tiene_pareja', 'dependientes', 'meses_en_empresa',
       'servicio_telefonico', 'lineas_multiples', 'servicio_internet',
       'seguridad_online', 'respaldo_online', 'proteccion_dispositivo',
       'soporte_tecnico', 'tv_streaming', 'peliculas_streaming',
       'tipo_contrato', 'factura_electronica', 'metodo_pago', 'cargo_mensual',
       'cargo_total'],
      dtype='object')

In [208]:
#verificaci贸n que no existan datos null
print('N掳 de Nulos:',df_normalizado.isnull().sum())

N掳 de Nulos: id_cliente                0
abandono                  0
genero_cliente            0
cliente_senior            0
tiene_pareja              0
dependientes              0
meses_en_empresa          0
servicio_telefonico       0
lineas_multiples          0
servicio_internet         0
seguridad_online          0
respaldo_online           0
proteccion_dispositivo    0
soporte_tecnico           0
tv_streaming              0
peliculas_streaming       0
tipo_contrato             0
factura_electronica       0
metodo_pago               0
cargo_mensual             0
cargo_total               0
dtype: int64

In [209]:
#Duplicados
print('N掳 de duplicados:', df_normalizado.duplicated().sum())

N掳 de duplicados: 0

In [210]:
# Verifique si hay valores 煤nicos en cada columna
for columna in df_normalizado.columns:
  print(f"valores 煤nicos en la columna'{columna}': {df_normalizado[columna].nunique()}")
  if df_normalizado[columna].nunique() < 20:
    print(df_normalizado[columna].unique())
  print('-' * 50)  # L铆nea divisoria para mejor visualizaci贸n

valores 煤nicos en la columna'id_cliente': 7267
--------------------------------------------------
valores 煤nicos en la columna'abandono': 3
['No' 'Yes' '']
--------------------------------------------------
valores 煤nicos en la columna'genero_cliente': 2
['Female' 'Male']
--------------------------------------------------
valores 煤nicos en la columna'cliente_senior': 2
[0 1]
--------------------------------------------------
valores 煤nicos en la columna'tiene_pareja': 2
['Yes' 'No']
--------------------------------------------------
valores 煤nicos en la columna'dependientes': 2
['Yes' 'No']
--------------------------------------------------
valores 煤nicos en la columna'meses_en_empresa': 73
--------------------------------------------------
valores 煤nicos en la columna'servicio_telefonico': 2
['Yes' 'No']
--------------------------------------------------
valores 煤nicos en la columna'lineas_multiples': 3
['No' 'Yes' 'No phone service']
--------------------------------------------------
valores 煤nicos en la columna'servicio_internet': 3
['DSL' 'Fiber optic' 'No']
--------------------------------------------------
valores 煤nicos en la columna'seguridad_online': 3
['No' 'Yes' 'No internet service']
--------------------------------------------------
valores 煤nicos en la columna'respaldo_online': 3
['Yes' 'No' 'No internet service']
--------------------------------------------------
valores 煤nicos en la columna'proteccion_dispositivo': 3
['No' 'Yes' 'No internet service']
--------------------------------------------------
valores 煤nicos en la columna'soporte_tecnico': 3
['Yes' 'No' 'No internet service']
--------------------------------------------------
valores 煤nicos en la columna'tv_streaming': 3
['Yes' 'No' 'No internet service']
--------------------------------------------------
valores 煤nicos en la columna'peliculas_streaming': 3
['No' 'Yes' 'No internet service']
--------------------------------------------------
valores 煤nicos en la columna'tipo_contrato': 3
['One year' 'Month-to-month' 'Two year']
--------------------------------------------------
valores 煤nicos en la columna'factura_electronica': 2
['Yes' 'No']
--------------------------------------------------
valores 煤nicos en la columna'metodo_pago': 4
['Mailed check' 'Electronic check' 'Credit card (automatic)'
 'Bank transfer (automatic)']
--------------------------------------------------
valores 煤nicos en la columna'cargo_mensual': 1585
--------------------------------------------------
valores 煤nicos en la columna'cargo_total': 6531
--------------------------------------------------

In [211]:
# Vac铆os o en blanco
# x.astype(str) convierte todos los valores de la columna a texto (string).
# .str.strip() elimina espacios en blanco al inicio y final de cada string.
# == '' compara si el valor, una vez convertido a string y sin espacios al inicio o final, es una cadena vac铆a.
df_normalizado.apply(lambda x: x.astype(str).str.strip() == '').sum()

id_cliente                  0
abandono                  224
genero_cliente              0
cliente_senior              0
tiene_pareja                0
dependientes                0
meses_en_empresa            0
servicio_telefonico         0
lineas_multiples            0
servicio_internet           0
seguridad_online            0
respaldo_online             0
proteccion_dispositivo      0
soporte_tecnico             0
tv_streaming                0
peliculas_streaming         0
tipo_contrato               0
factura_electronica         0
metodo_pago                 0
cargo_mensual               0
cargo_total                11
dtype: int64

In [212]:
df_normalizado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7267 entries, 0 to 7266
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id_cliente              7267 non-null   object
 1   abandono                7267 non-null   object
 2   genero_cliente          7267 non-null   object
 3   cliente_senior          7267 non-null   int64
 4   tiene_pareja            7267 non-null   object
 5   dependientes            7267 non-null   object
 6   meses_en_empresa        7267 non-null   int64
 7   servicio_telefonico     7267 non-null   object
 8   lineas_multiples        7267 non-null   object
 9   servicio_internet       7267 non-null   object
 10  seguridad_online        7267 non-null   object
 11  respaldo_online         7267 non-null   object
 12  proteccion_dispositivo  7267 non-null   object
 13  soporte_tecnico         7267 non-null   object
 14  tv_streaming            7267 non-null   object
 15  peliculas_streaming     7267 non-null   object
 16  tipo_contrato           7267 non-null   object
 17  factura_electronica     7267 non-null   object
 18  metodo_pago             7267 non-null   object
 19  cargo_mensual           7267 non-null   float64
 20  cargo_total             7267 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.2+ MB

###**Limpieza Datos**

In [213]:
# Cambiando la columna 'cargo_total' a Float y reemplazar espacios vac铆os por NaN
df_normalizado['cargo_total'] = df_normalizado['cargo_total'].replace('',np.nan)
# Convertir todo a num茅rico
df_normalizado['cargo_total'] = pd.to_numeric(df_normalizado['cargo_total'], errors='coerce')
print(df_normalizado['cargo_total'].dtypes)

float64

In [214]:
# Confirmar vacios en columna 'cargo_total'
datos_blanco= (df_normalizado['cargo_total'] == '').sum()
print('Los datos blancos en la columna cargo_total son:', datos_blanco)

Los datos blancos en la columna cargo_total son: 0

In [215]:
# Hay 224 datos en la columna 'abandono', corresponde al 3.08% , lo que no afecta al analis铆s si los datos son eliminados.
# Eliminar datos vacios en columna 'abandono'
df_normalizado = df_normalizado.dropna(subset=['abandono']) #Elimina solo las filas donde columna 'abandono' sean NaN (nulo)
df_normalizado = df_normalizado[df_normalizado['abandono'].str.strip() != '']
df_normalizado

,id_cliente,abandono,genero_cliente,cliente_senior,tiene_pareja,dependientes,meses_en_empresa,servicio_telefonico,lineas_multiples,servicio_internet,...,respaldo_online,proteccion_dispositivo,soporte_tecnico,tv_streaming,peliculas_streaming,tipo_contrato,factura_electronica,metodo_pago,cargo_mensual,cargo_total
0,0002-ORFBO,No,Female,0,Yes,Yes,9,Yes,No,DSL,...,Yes,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30
1,0003-MKNFE,No,Male,0,No,No,9,Yes,Yes,DSL,...,No,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40
2,0004-TLHLJ,Yes,Male,0,No,No,4,Yes,No,Fiber optic,...,No,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85
3,0011-IGKFF,Yes,Male,1,Yes,No,13,Yes,No,Fiber optic,...,Yes,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85
4,0013-EXCHZ,Yes,Female,1,Yes,No,3,Yes,No,Fiber optic,...,No,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7262,9987-LUTYD,No,Female,0,No,No,13,Yes,No,DSL,...,No,No,Yes,No,No,One year,No,Mailed check,55.15,742.90
7263,9992-RRAMN,Yes,Male,0,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70
7264,9992-UJOEL,No,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75
7265,9993-LHIEB,No,Male,0,Yes,Yes,67,Yes,No,DSL,...,No,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65
7266,9995-HOTOH,No,Male,0,Yes,Yes,63,No,No phone service,DSL,...,Yes,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60

In [216]:
# Confirmar vacios en columna 'abandono'
datos_blanco_abandono= (df_normalizado['abandono'] == '').sum()
print('Los datos blancos en la columna abandono son:', datos_blanco_abandono)

Los datos blancos en la columna abandono son: 0

In [217]:
# Confirmar vacios y blancos depu茅s de la limpieza de datos
df_normalizado.apply(lambda x: x.astype(str).str.strip() == '').sum()

id_cliente                0
abandono                  0
genero_cliente            0
cliente_senior            0
tiene_pareja              0
dependientes              0
meses_en_empresa          0
servicio_telefonico       0
lineas_multiples          0
servicio_internet         0
seguridad_online          0
respaldo_online           0
proteccion_dispositivo    0
soporte_tecnico           0
tv_streaming              0
peliculas_streaming       0
tipo_contrato             0
factura_electronica       0
metodo_pago               0
cargo_mensual             0
cargo_total               0
dtype: int64

###**Limpieza de los datos en texto**

In [218]:
# limpieza columna id del cliente /.strip() elimina espacios en blanco al inicio y al final
df_normalizado['id_cliente'] = df_normalizado['id_cliente'].str.strip()
df_normalizado['id_cliente'].head(10)

0    0002-ORFBO
1    0003-MKNFE
2    0004-TLHLJ
3    0011-IGKFF
4    0013-EXCHZ
5    0013-MHZWF
6    0013-SMEOE
7    0014-BMAQU
8    0015-UOCOJ
9    0016-QLJIS
Name: id_cliente, dtype: object

In [219]:
#limpieza de la columna tipo_contrato
df_normalizado['tipo_contrato'] = df_normalizado['tipo_contrato'].str.lower()
df_normalizado['tipo_contrato'] = df_normalizado['tipo_contrato'].apply(lambda x: x.replace('-',' ').strip())
df_normalizado['tipo_contrato'].head(10)

0          one year
1    month to month
2    month to month
3    month to month
4    month to month
5    month to month
6          two year
7          two year
8    month to month
9          two year
Name: tipo_contrato, dtype: object

In [222]:
#limpieza de la columna metodo_pago
df_normalizado['metodo_pago'] = df_normalizado['metodo_pago'].str.lower().str.strip()
df_normalizado['metodo_pago'].sample(10)

4114             electronic check
6838      credit card (automatic)
3585             electronic check
5235             electronic check
3452    bank transfer (automatic)
2854             electronic check
2687      credit card (automatic)
583     bank transfer (automatic)
4014                 mailed check
3460    bank transfer (automatic)
Name: metodo_pago, dtype: object